/*buttom*/

.btn{
    background: $ball-blue;
    color: $white;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background 500ms ease;
    &:hover{
        background: $raising-black;
    }
}
