/* typography */ 

body {
    font-family: $open-sans;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $raleway;
}

h1 {
    font-size: $xxxxx-large;
}

h2 {
    font-size: $x-large;
}

h3 {
    font-size: $large;
}
p {
    font-size: $medium;
}